// Typographical styles goes here
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}
.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

   // Icons
   .icon {
    font-size: 24px;
    color: $gray;
    &:hover{
        color: $primary;
    }
}
// Hero texts
.hero-text {
    font-weight: 100;
}
.hero-number{
    font-size: 24px;
    font-weight: 400;
}
.cards {
    .border-bottom {
        border-bottom: 2px solid $bg-color;
    }
    .profit-icon, .loss-icon {
        font-size: 4rem;
    }
    .loss-icon {
        // color: $danger;
        transform: scaleX(-1);
    }
    .profit-icon {
        // color: $success-primary;
    }
}