// Theme colors
$primary: #438ffe;
$secondary: #f8f8f8;
$success-primary: #8bc38a;
$success-secondary:#83bcbd;
$btn-primary: #438ffe;
$gray: #989d9e;
$coral: #fe764b; 
$white: #ffffff;
// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
// );

// Mainly use for UI controls like Buttons
// Mainly used all over

// Used for Search and other input bg
$input-bg : #f5f7f9;

// Additional Shades of gray color
$light: #f8fafc;
$extra-light: #fcfcfc;
$bg-color: #f8f8f8;
// Dedicated for button text only
$btn-text-primary: $primary;

// Map
$cards: (
  "view": $primary,
  "product":$success-primary,
  "user": $primary,
  "sells": $success-secondary,
)