// Theme colors
$primary: #438ffe;
$secondary: #fbde4a;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// Mainly use for UI controls like Buttons

// Mainly use for Normal Text color
$gray: #989d9e;

// Used for Alerts and warm colors
$coral: #fe764b; 
// Used for Search and other input bg
$input-bg : #f5f7f9;

// Additional Shades of gray color
$light: #f8fafc;
$extra-light: #fcfcfc;
$bg-color: #f8f8f8;
// Dedicated for button text only
$btn-text-primary: $primary;

