// Position
@mixin position(
  $position: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// border radius mixin
@mixin border-radius($for: all, $val: 10px) {
  @if $for==all {
    border-radius: $val;
  } @else if $for==topleft {
    border-top-left-radius: $val;
  } @else if $for==topright {
    border-top-right-radius: $val;
  } @else if $for==bottomright {
    border-bottom-right-radius: $val;
  } @else if $for==bottomleft {
    border-bottom-left-radius: $val;
  }
}

// Media query Mixins
@mixin media-query($size) {
  @if $size == mobile-min {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $size == mobile {
    @media (max-width:576px) {
      @content;
    }
  } @else if $size == mobile-wide {
    @media (max-width: 776px) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $size == tablet-x {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == laptop {
    @media (max-width: 1440px) {
      @content;
    }
  }
}
