// All the SCSS Variables goes here
// Fonts
$font-family: 'Josefin Sans', sans-serif;
$font-weight: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

// Common
$transition-timing: 0.4s;

// Border-radius
$border-radius: 12px;
$circle: 50%;

// Header
$header-height: 90px;
$header-icon-size: 24px;

// Search
$search-icon-size: 16px;
$search-box-width: 500px;
$search-box-height: 40px;
$search-btn-width: 70px;
$search-btn-height: 40px;

// Sidebar
$sidebar-width: 90px;
$sidebar-icon-size: 24px;

// Card
$card-box-height: 50px;
$card-box-width: 50px;
$card-icon-size: 24px;
$card-graph-size: 40px;
$card-text-font-size-big: 30px;
$card-text-font-size-small: 16px;

// Table
$table-heading-size: 20px;
$table-text-size: 16px;