// Card styles goes here
.cards {
    
  margin: 0 -12px;
  .card {
    width: 25%;
    margin: 0 12px 10px;
  }
}

// Color classes map
@each $key,
$value in $cards {
  .card-#{$key} {
    background-color: $white;
    .card-icon-bg {
      background-color: lighten($value, 30%);
    }
    .icon {
      color: $value;
    }
      &:hover {
        transition: 0.3s all ease-in-out;
        background-color: $value;
        color: $white;
        .card-icon-bg {
            transition: 0.3s all ease-in-out;
          background-color: lighten($value, 8%);
        }
        .icon {
            transition: 0.3s all ease-in-out;
            color: white;
        }
      }
    }
  }


