header {
    border-bottom: 2px solid $bg-color;
    // padding: 20px;
    height: 92px;

    // Brand name
    .brand-icon {
        width: 100px;   
        height: 72px;
        color: $primary;
        .icon-square {
            font-size: 24px;
        }
    }
    // Profile section
    .avatar {
        padding-right: 40px;
        .profile-img {
            height: 40px;
            border-radius: 50%;
        }

    }
}