aside {
  flex: 0 0 100px;
  width: 100px;
  background-color: $white;
  transition: 0.4s all;
  overflow-x: hidden;
  & ~ main .icon-keyboard_arrow_right {
    transform: translateX(100px);
  }
  @include media-query(mobile) {
    position: absolute;
  }
}
.nav-li {
  // height: 92px;
  padding: 20px;
}

.nav-2 {
  padding-bottom: 80px;
}

// SIDEBAR
#aside {
  display: none;
}
#aside:checked {
  & ~ aside {
    flex: 0 0 0;
    transform: translateX(-100%);
  }
  
   & ~main .toggle {
    left: 0;
    transform: rotate(180deg);
  }
}


// Sidebar Toggle
.toggle {
    @include position(absolute, 50%, auto, auto, 100px);
    background-color: $white;
    border-radius: 50%;
    border: 0.5px solid $gray;
    transition: 0.4s all;  
    cursor: pointer;
}

// #aside {
//     // display: none;
//     &:checked+ aside {
//         flex: 0 0 0;
//         transform: translateX(-100%);
//     }
//     &:checked+ main .icon-keyboard_arrow_right{
//         transform: rotate(180deg);
//     }
// }
